* {
  box-sizing: border-box;
}

.container {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  width: 300px;
  scroll-snap-type: mandatory;
  scroll-padding: 24px;
  border-radius: 8px;
  gap: 12px;
}

.container .item {
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 8px;
  scroll-snap-align: start;
}

div{
    margin: auto;
}

.item{
    background: rgb(34,195,121);
    background: linear-gradient(121deg, rgba(34,195,121,1) 0%, rgba(45,139,253,1) 100%);;
}